.taskName {
  margin-top: 20px;
}

.taskName input {
  width: 70%;
  margin-left: 20px;
}

.taskPath {
  margin-top: 20px;
}

.taskPath input {
  width: 70%;
  margin-left: 7px;
}

.taskPath button {
  margin-left: -33px;
}
